.y{
    background-color: #9966CC;
}
#x{
    color: black;
}
#asic-nav-dropdown{
    color: whitesmoke;
}
#j{
    color: whitesmoke;
}
#ck{
    color: whitesmoke;
}
#i{
    color: whitesmoke;
}
#c{
    color:whitesmoke;
}